.container{
    max-width: 1286px;
    width: 100%;
    background-color: #56836F;
    height: 700px;
    margin: 40px;
}
.navbar-li a{
    color: white;
    font-size: 40px;
    text-decoration: none;
}
.navbar-li{
    display: inline-block;
    padding-left: 178px;
    padding-top: 35px;
    margin-right: -100px;
    font-family: 'Myriad Pro';
}
.logo{
    float: right;
    margin: 38px 55px 63px;
}
.clear{
    clear: both;
}
.box1{
    width: 617px;
    height: 356px;
    background-color: #FCEE21;
    margin-left: 72px;
    float: left;
}
.box2{
    width: 523px;
    height: 356px;
    background-color: #FCEE21;
    float: right;
}
.pc1{
    float: right;
    padding: 18px 31px 25px 31px;
}
.pc2{
    float: left;
    padding: 18px 18px 35px 31px;
}
.lorem1{
    padding: 18px 0 0 18px;
    font-size: 14px;
    font-family: 'Segoe UI';
}
.lorem2{
    font-size: 14px;
    padding: 18px 20px 0 26px;
    font-family: 'Segoe UI';
}
.text1{
    font-size: 14px;
    padding: 14px 28px 14px 18px;
    font-family: 'Segoe UI';
}
.text2{
    font-size: 14px;
    padding: 20px 20px 0 26px;
    font-family: 'Segoe UI';
}
.entire-box{
    margin-right: 55px;
}
    